<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <div>
        <img src="content/img/logo.png" alt="logo" width="100" height="100"/>
      </div>
      <h3>Buscar por palavras chave</h3>
      <div class="col-sm-12">
        <form name="converterForm" ng-submit="vm.submitAction(vm.url, vm.keyword)" novalidate>
          <div class="form-group">
            <input name="palavra" ng-model="vm.keyword" class="form-control" placeholder="Palavras chave"/>
          </div>
          <div class="form-group col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4">
            <button class="btn btn-success" ng-if="!vm.searching" type="submit">Pesquisar</button>
            <button class="btn btn-primary" ng-if="vm.searching" type="submit">Pesquisando...</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="margin-top: 30px">
    <ul class="list-unstyled video-list-thumbs row">
      <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="video in vm.videos">
        <h2>
          {{ video.title }}
          <i style="color: blue;" class="fa fa-spinner" ng-if="video.isLoading"></i>
          <i style="color: red;" class="fa fa-times" ng-if="!video.isLoading && video.loaded && !video.keywords.length"></i>
          <i style="color: green;" class="fa fa-check" ng-if="!video.isLoading && video.loaded && video.keywords.length"></i>
        </h2>
        <video id="{{video.id}}" title="{{ video.title }}" alt="{{ video.title }}" style="width: 100%;" height="185" controls>
          <source ng-src="{{ video.url }}" type="video/mp4">
          O seu navegador não suporta este vídeo.
        </video>
        <ul class="list-group" width="320">
          <li class="list-group-item" style="cursor: pointer;" ng-repeat="keyword in video.keywords" ng-click="vm.setCurrentTime(video.id, keyword.time)">
            <span>{{ keyword.description }}</span>
            <span>{{ keyword.time }}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
